# Port number
PORT=9000

# Postgres URL
DATABASE_URL=""

# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# LLM Provider Configuration
# Anthropic Configuration
ANTHROPIC_API_KEY=your_anthropic_api_key_here
ANTHROPIC_MODEL=claude-haiku-4-5-20251001

# OpenAI Configuration
OPENAI_API_KEY=your_openai_api_key_here

# Google Gemini Configuration
GEMINI_API_KEY=your_google_api_key_here
GEMINI_MODEL=gemini-3-flash-preview
# Gemini Image Generation Model (multi-modal models: gemini-2.5-flash-image, gemini-3-pro-image-preview)
GEMINI_IMAGE_MODEL=gemini-2.5-flash-image

# Payment Gateway Configuration

STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key_here
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret_here
FRONTEND_DOMAIN=
BACKEND_DOMAIN=
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_REDIRECT_URI=

LLM_PROVIDER=uptiq
LLM_MODEL=gpt-4o-mini
UPTIQ_API_BASE_URL=https://api.v2.platform.ai

# Uptiq Agent Configuration
UPTIQ_API_KEY=45df3ff3-8901-4e59-9e4b-506935f46474
UPTIQ_API_SECRET=xE9byd7f1Jh513QZ9lpP3MlgHlKr4RotWGq72PgolzqXy9w77T0FA8SK6lkXPOpi2nD5dgnBPBKPhUvYvGBOue8qhEOyXS84HvhTdgz02IR9nq02viaLbjoLgg3MXzaS
UPTIQ_AGENT_ID=31130279-7e9c-40ed-851a-5b734ff75aa4